html {
    background: linear-gradient(45deg, #3888f1, #5cc5ff, #b8f6eb);
    font-family: sans-serif;
    height: 100vh;
}
.navbar img{
    height: auto;
}
.navbar{
    display: inline-block;
    width: 100%;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.navbar a {
    display: block;
    color: #666;
    text-align: center;
    padding: .8rem 1em;
    text-decoration: none;
}
.navbar li{
    display: inline-block;
}
.navbar li:hover {
    background-color: lightgray;
}

.form {
    text-align: center;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    margin: 1rem;
}

form input {
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1rem;
    border: none;
}
.content {
    width: 60%;
    text-align: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    position: static;
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
